*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --clr-dark-blue: 217 19% 35%;
    --clr-text-heading: 214 17% 51%;
    --clr-text-body: 212 23% 69%;
    --clr-bg-blue: 210 46% 95%;
    --clr-white: 0 0% 100%;

    --fw-500: 500;
    --fw-700: 700;

    --fs-400: 1.3rem;
    --fs-900: 1.6rem;
}

@media (min-width: 45em) {
    :root {
        --fs-900: 2.0rem;
    }
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    }

body {
    display: grid;
    place-content: center center;
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background: hsl(var(--clr-bg-blue));
}

img {
    max-width: 100%;
}

.card {
    display: grid;
    grid-template-rows: 3fr 4fr;
}




@media (min-width: 45em) {
    .card {
        grid-template-columns: 3fr 4fr;
        grid-template-rows: auto;
        max-width: 73rem;
        background: hsl(var(--clr-white));
    }
}